body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    opacity: .4;
    margin-bottom: 250px;
    margin-top: 150px;;
}
.image{
    width: 500px;
    background: url(grekk.jpg);
    background-attachment: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 585px;
    position: relative;
}
footer{
    text-align: center;
    color: white;
    margin-bottom: 30px;}
h1, img{
    height: 100px;
    width: 100px;
    color: white;
}
@font-face {
    font-family: myfont;
    src: url(norse-code/norskode.ttf);
}
h1{
    font-family: myfont;
}
.text-form{display: flex;
flex-direction: column;
align-content: center;
padding: 10px;
font-family: Arial, Helvetica, sans-serif}
ul{
    list-style: none;
}
p{text-align: center; font-size: large; font-weight: bolder;}
mail:valid, pass:valid{border-color: 2px solid green; border-style: none;}
mail:invalid, pass:invalid{border-color: 2px solid red; border-style: none;}
a{text-decoration: none; color: green;}
input{box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.094);
border-style: none;
letter-spacing: 0.5rem;
width: 200px; height: 30px;}
input:focus{background-color:rgb(154, 246, 154); border-color: green;}
button{
    width: 170px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(165, 239, 165);
}
button:hover{background-color: green;}
form{
    background-color: whitesmoke;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.457);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}
